
@model GioHangViewModel
 <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="single-product.html">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->

        @*<input type="hidden" asp-for=""/>*@
    <section class="checkout_area section_gap">
        <div class="container">
        
     <form method="post">
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-6">
                        <h3>Billing Details</h3>
             
                            <div class="col-md-12 form-group p_star">
                                <input asp-for="HoaDon.Name" type="text" class="form-control">
                                <span class="placeholder" placeholder="User Name"></span>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" placeholder="Company name">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input asp-for="HoaDon.PhoneNumber" type="text" class="form-control">
                                <span class="placeholder" Data-placeholder="Phone number"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control">
                                <span class="placeholder" Data-placeholder="Email Address"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <select class="country_select">
                                    <option value="1">VietNam</option>
                                    <option value="2">America</option>
                                    <option value="4">Canada</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input asp-for="HoaDon.Address" type="text" class="form-control">
                                <span class="placeholder" placeholder="Address"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control">
                                <span class="placeholder" data-placeholder="Town/City"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <select class="country_select">
                                    <option value="1">BienHoa</option>
                                    <option value="2">TrangBom</option>
                                    <option value="4">LongKhanh</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP">
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="creat_account">
                                    <input type="checkbox" id="f-option2" name="selector">
                                    <label for="f-option2">Create an account?</label>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="creat_account">
                                    <h3>Shipping Details</h3>
                                    <input type="checkbox" id="f-option3" name="selector">
                                    <label for="f-option3">Ship to a different address?</label>
                                </div>
                                <textarea class="form-control" name="message" id="message" rows="1" placeholder="Order Notes"></textarea>
                            </div>
                        
                    </div>
                    <div class="col-lg-6">
                        <div class="order_box">
                            <h2>Your Order</h2>
                            <ul class="list" >
                            <li><a href="#">Product <span>Total (VND)</span></a></li>
                            </ul>
                         @foreach(var item in Model.DsGioHang)
                        {
                               <ul class="list">
                                
                                <li><a href="#">@item.SanPham.Name<span class="middle"></span> <span class="last">@String.Format("{0:0,0}",@item.ProductPrice) </span></a></li>
                            </ul>
        
                            
                        }
                        <br />
                        <br />
                        <br />
                            <ul class="list list_2">
                                <li><a href="#">Subtotal <span>@String.Format("{0:0,0}",Model.HoaDon.Total) VND</span></a></li>
                                <li><a href="#">Total <span>@String.Format("{0:0,0}",Model.HoaDon.Total) VND</span></a></li>
                            </ul>
                        <div class="payment_item">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option5" name="selector">
                                    <label for="f-option5">Check payments</label>
                                    <div class="check"></div>
                                </div>
                                <p>Please send a check to Store Name, Store Street, Store Town, Store State / County,
                                    Store Postcode.</p>
                            </div>
                            <div class="payment_item active">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option6" name="selector">
                                    <label for="f-option6">Paypal </label>
                                    <img src="~/img/product/card.jpg" alt="">
                                    <div class="check"></div>
                                </div>
                                <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal
                                    account.</p>
                            </div>
                            <div class="creat_account">
                                <input type="checkbox" id="f-option4" name="selector">
                                <label for="f-option4">I’ve read and accept the </label>
                                <a href="#">terms & conditions*</a>
                            </div>
                            <button class="primary-btn" type="submit" >Proceed to Paypal</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </section>
   
    <!--================End Checkout Area =================-->