@model IEnumerable<TheLoai>

<li class="nav-item submenu dropdown">
	<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
	   aria-expanded="false">Pages</a>
	<ul class="dropdown-menu">
		<li class="nav-item"><a class="nav-link" href="/Identity/Account/Login">Login</a></li>

		@*<li class="nav-item"><a class="nav-link" href="/Home/Tracking">Tracking</a></li>*@
		<li class="nav-item"><a class="nav-link" href="/Customer/Home/Elements">Elements</a></li>

	</ul>
</li>